<div class="header">
			<div class="logo">
				<a href="index.html" title="肇庆三榕电子商务研究院">
					<img src="__PUBLIC__/images/logo.jpg" alt="肇庆三榕电子商务研究院" width="367" height="51">
				</a>
			</div>
			<div class="search">
				<form class="form-inline" action="http://www.baidu.com/baidu" target="_blank">
					<input name="tn" type="hidden" value="baidu">
					<div class="input-group">
						<input type="text" name="word" class="form-control pull-right" placeholder="搜索">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-danger"><i class="fa fa-search"></i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="banner">
			<img src="__PUBLIC__/images/banner.jpg" width="1000" height="250" draggable="false">
		</div>
		<div class="nav">
			<ul>
				<li id="index"><a href="{:U('Index/index')}" title="首页">首页</a></li>
				<li id="project"><a href="{:U('Project/index')}" title="研究课题">研究课题</a></li>
				<li id="team"><a href="{:U('Team/index')}" title="研究团队">研究团队</a></li>
				<li id="news"><a href="{:U('News/index')}" title="新闻资讯">新闻资讯</a></li>
				<li id="school"><a href="{:U('School/index')}" title="合作院校">合作院校</a></li>
				<li id="contact"><a href="{:U('Contact/index')}" title="联系我们">联系我们</a></li>
			</ul>
		</div>