<!DOCTYPE html>
<html>
	<head>
		<include file="Public/header" />
	</head>
	<body>
		<include file="Public/nav" />
		<div class="main">
			<div class="institute-info">
				<div class="info">
					<div class="info-image">
						<img src="__PUBLIC__/images/sanrong.jpg" width="556px" height="314px" />
					</div>
					<div class="content">
						<div class="title">
							<strong>三榕电子商务研究院：</strong>
						</div>
						<p>
							三榕电子商务研究院是作为产学研一体化的研究机构，致力于共同攻关开发解决电子商务行业中的共性关键技术和基础性技术难题，为全市电子商务产业发展提供课题研究、规划设计、决策咨询、社会培训和信息交流服务。
						</p>
						<a href="IDL-about.html" class="more" title="更多">更多</a>
					</div>
				</div>
			</div>
			<div class="project">
				<div class="header">
					<h3>最新课题</h3>
					<a href="{:U('Project/index')}" class="more" title="更多">更多</a>
				</div>
				<div class="content">
					<ul>
						<ul>
						<volist name="list" id="val">
						<li>
							<a href="{:U('Home/Project/theme/id/'.$val[id])}" class="pic" title="{$val[title]}">
								<img src="__PUBLIC__/upload/image/{$val[href]}" width="306" height="200" />
							</a>
							<div class="title">{$val['title']}</div>
							<p>{$val['brief']}</p>
							<div class="date">{$val['time']}</div>
						</li>
						</volist>
					</ul>
					</ul>
				</div>
			</div>
		</div>
		<include file="Public/footer" />
		<script>
			$('#index').addClass('current');
		</script>
	</body>
</html>