<!DOCTYPE html>
<html>
	<head>
		<include file="Public/header" />
	</head>
	<body>
		<include file="Public/nav" />
		<div class="main">
			<div class="project">
				<div class="header">
					<h3>研究课题</h3>
				</div>
				<div class="content">
					<ul>
						<volist name="list" id="val">
						<li>
							<a href="{:U('Home/Project/theme/id/'.$val[id])}" class="pic" title="{$val[title]}">
								<img src="__PUBLIC__/upload/image/{$val[href]}" width="306" height="200" />
							</a>
							<div class="title">{$val['title']}</div>
							<p>{$val['brief']}</p>
							<div class="date">{$val['time']}</div>
						</li>
						</volist>
					</ul>
				</div>
			</div>
		</div>
		<include file="Public/footer" />
		<script>
			$('#project').addClass('current');
		</script>
	</body>
</html>