<!DOCTYPE html>
<html>
	<head>
		<include file="Public/header" />
	</head>
	<body>
		<include file="Public/nav" />
		<div class="main">
			<div class="news-list">
				<div class="info">
					<strong>新闻资讯</strong>
				</div>
				<div class="content">
					<ul>
						<li>
							<h3><a href="{:U('News/theme')}" class="title">百度CEO李彦宏乌镇向习近平介绍百度无人车</a></h3>
							<p>2015年12月16日下午，国家主席习近平在乌镇视察“互联网之光”博览会期间，参观了百度的展台，并听取了百度CEO李彦宏的汇报。</p>
						</li>
						<li>
							<h3><a href="{:U('News/theme')}" class="title">百度CEO李彦宏乌镇向习近平介绍百度无人车</a></h3>
							<p>2015年12月16日下午，国家主席习近平在乌镇视察“互联网之光”博览会期间，参观了百度的展台，并听取了百度CEO李彦宏的汇报。</p>
						</li>
						<li>
							<h3><a href="{:U('News/theme')}" class="title">百度CEO李彦宏乌镇向习近平介绍百度无人车</a></h3>
							<p>2015年12月16日下午，国家主席习近平在乌镇视察“互联网之光”博览会期间，参观了百度的展台，并听取了百度CEO李彦宏的汇报。</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<include file="Public/footer" />
		<script>
			$('#news').addClass('current');
		</script>
	</body>
</html>