<!DOCTYPE html>
<html>
	<head>
		<include file="Public/header" />
	</head>
	<body>
		<include file="Public/nav" />
		<div class="main">
			<div class="news-list">
				<div class="info">
					<strong>新闻资讯</strong>
				</div>
				<div class="content">
					<ul>
						<volist name="list" id="val">
						<li>
							<h3><a href="{:U('Home/News/theme/id/'.$val[id])}" class="title">{$val['title']}</a></h3>
							<p>{$val['brief']}</p>
						</li>
						</volist>
					</ul>
				</div>
			</div>
		</div>
		<include file="Public/footer" />
		<script>
			$('#news').addClass('current');
		</script>
	</body>
</html>