<!DOCTYPE html>
<html>
	<head>
		<include file="Public/header" />
	</head>
	<body>
		<include file="Public/nav" />
		<div class="main">
			<div class="comp">
				<div class="title">
					<h1>肇庆三榕电子商务研究院</h1>
					<p><span class="date">2016.5.16</span></p>
					<div id="bdshare" class="share">
						<div class="bdsharebuttonbox">
							<a href="#" class="bds_more" data-cmd="more"></a>
							<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
							<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
							<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
							<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
							<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
						</div>
					</div>
				</div>
				<div class="content">
					<p>三榕电子商务研究院是作为产学研一体化的研究机构，该院致力于共同攻关开发解决电子商务行业中的共性关键技术和基础性技术难题，为全市电子商务产业发展提供课题研究、规划设计、决策咨询、社会培训和信息交流服务。</p>
					<div style="text-align:center;margin-bottom:24px;">
						<img src="__PUBLIC__/images/sanrong.jpg" width="460px" />
					</div>
					<p>肇庆三榕电子商务研究院的主要任务：以科技创新和管理创新为手段，构建三大指标体系：行业信用等级评价指标体系、电子商务指标体系、电子商务企业综合竞争力指数体系。是开展电子商务指标体系和实施方案的研究，加强对电子商务支持水平、电子商务应用水平、电子商务安全度和电子商务发展潜力等二级指标的支撑平台的研发，为政府决策、企业的改革、发展规划提供重要基础科学依据和解决方案。</p>
					<p>肇庆三榕电子商务研究院使用系统和工程方法，探索产学研结合方式，向传统企业提供商品策略、价格策略、营销策略、宣传策略等整体电子商务方案服务，共同建设完整的电子商务安全保障体系、电子商务支付体系、电子商务数据采集统计分析优化体系、电子商务人才培养体系</p>
					<p>开展电子商务国际学术交流，通过示范工程和示范应用展示电子商务安全技术和管理方法，形成整合性的电子商务服务格局，向传统企业提供商品策略、价格策略、营销策略、宣传策略等整体电子商务方案。</p>
					<div id="back">
						<a href="javascript:history.go(-1);" title="返回"><i class="fa fa-sign-out"></i>返回</a> 
					</div>
				</div>
			</div>
		</div>
		<include file="Public/footer" />
		<script>
			$('#news').addClass('current');
			window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
		</script>
	</body>
</html>